<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="85a6e9">  <td>21/07/15 09:22:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlipkartTest.openBrowser()[pri:1, instance:com.mindtree.flipkart.FlipkartTest@7c83dc97]">openBrowser</td> 
  <td>main@370370379</td>   <td></td> </tr>
<tr bgcolor="85a6e9">  <td>21/07/15 09:22:41</td>   <td>27873</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlipkartTest.login()[pri:2, instance:com.mindtree.flipkart.FlipkartTest@7c83dc97]">login</td> 
  <td>main@370370379</td>   <td></td> </tr>
</table>
